@import 'bootstrap/dist/css/bootstrap.min.css';
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@media only screen and (min-width: 480px) {
	.sidebar {
		height: 70px;
	}
}

@media only screen and (min-width: 768px) {
	.sidebar {
		height: auto;
		border: solid rgb(185, 185, 185) 1px;
		border-left: none;
		border-top: none;
		border-bottom: none;
	}
	.sidebar .position-sticky {
		padding-left: 25px;
	}
	.leftSide {
		border-left: solid rgb(229, 229, 229) 0.5px;
		padding-left: 25px;
	}
	.position-sticky #activeLink {
		padding-right: 200px;
		color: rgb(64, 109, 249) !important;
		border-right: solid rgb(64, 109, 249) 3px !important;
	}
}

@media only screen and (min-width: 992px) {
	.sidebar {
		border: solid rgb(185, 185, 185) 1px;
		border-left: none;
		border-top: none;
		border-bottom: none;
	}
	.sidebar .position-sticky {
		padding-left: 25px;
	}

	.leftSide {
		border-left: solid rgb(229, 229, 229) 0.5px;
		padding-left: 25px;
	}

	.position-sticky #activeLink {
		color: rgb(64, 109, 249) !important;
		border-right: solid rgb(64, 109, 249) 3px !important;
	}
}

@media only screen and (min-width: 1200px) {
	.sidebar {
		border-right: solid rgb(229, 229, 229) 0.5px;
	}
	.sidebar .position-sticky {
		padding-left: 25px;
	}

	.leftSide {
		border-left: solid rgb(229, 229, 229) 0.5px;
		padding-left: 25px;
	}

	.position-sticky #activeLink {
		color: rgb(64, 109, 249) !important;
		border-right: solid rgb(64, 109, 249) 3px !important;
	}
}
